.settings {
  padding: 20px;
  overflow: auto;
}

.avatar {
  cursor: pointer;
  position: relative;
  z-index: 1;
}

.edit-prompt-modal {
  display: flex;
  flex-direction: column;

  .edit-prompt-title {
    max-width: unset;
    margin-bottom: 20px;
    text-align: left;
  }
  .edit-prompt-content {
    max-width: unset;
  }
}

.user-prompt-modal {
  min-height: 40vh;

  .user-prompt-search {
    width: 100%;
    max-width: 100%;
    margin-bottom: 10px;
    background-color: var(--gray);
  }

  .user-prompt-list {
    border: var(--border-in-light);
    border-radius: 10px;

    .user-prompt-item {
      display: flex;
      justify-content: space-between;
      padding: 10px;

      &:not(:last-child) {
        border-bottom: var(--border-in-light);
      }

      .user-prompt-header {
        max-width: calc(100% - 100px);

        .user-prompt-title {
          font-size: 14px;
          line-height: 2;
          font-weight: bold;
        }
        .user-prompt-content {
          font-size: 12px;
        }
      }

      .user-prompt-buttons {
        display: flex;
        align-items: center;
        column-gap: 2px;

        .user-prompt-button {
          //height: 100%;
          padding: 7px;
        }
      }
    }
  }
}

.subtitle-button {
  button {
    overflow:visible ;
  }
}

// 新增样式（bull）
.highlight {
  background-color: #f5f7fa; // 柔和背景
  border: 1px solid #409eff; // 蓝色边框
  border-radius: 8px;
  box-shadow: 0 0 6px rgba(64, 158, 255, 0.3);
}
